body {
  margin: 0;
  font-size: 16px;
  width: auto;
}

a {
  color: #fdfdfd;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
  margin: 0;
}

a:hover {
  color: #1976d2;
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1e2343;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 0px;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 500px;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}

.listItem-container {
  margin: 0 auto;
  width: 500px;
}

.listItem-link {
  color: purple;
}

.action-container {
  margin: 0 auto;
  width: 500px;
  padding-left: 283px;
}

.userListItem-container {
  margin: 0 auto;
  width: 500px;
}
.deleteButton {
  width: 30px;
}

.drawer-contents {
  margin: 25px;
}

.drawer-button {
  margin: 0 auto;
  width: 105px;
}

.test {
  color: white;
  font-size: 24px;
}

.test-sub {
  color: white;
}

.header-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  /* background-color: #303030; */
  padding-top: 30px;
  padding-bottom: 30px;
  /* border-top: #303030;
  border-top-style: solid; */
}

.user-search-input {
  width: 400px;
}

hr.gradient {
    border: 0;
    height: 1px;
    background: #63C;
    background-image: -webkit-linear-gradient(left, #C9F, #63C, #C9F);
    background-image: -moz-linear-gradient(left, #C9F, #63C, #C9F);
    background-image: -ms-linear-gradient(left, #C9F, #63C, #C9F);
    background-image: -o-linear-gradient(left, #C9F, #63C, #C9F);
}
hr.pg-gradient {
    border: 0;
    height: 1px;
    background: rgb(255, 255, 255);
    background-image: -webkit-linear-gradient(left, #13c631, rgb(255, 255, 255), #63C);
    background-image: -moz-linear-gradient(left, #13c631, rgb(255, 255, 255), #63C);
    background-image: -ms-linear-gradient(left, #13c631, rgb(255, 255, 255), #63C);
    background-image: -o-linear-gradient(left, #13c631, rgb(255, 255, 255), #63C);
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border-top: 16px solid #63C;
  border-bottom: 16px solid #ffffff;
  border-left: 16px solid #ffffff;
  border-right: 16px solid #ffffff;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 442px) {
    /* For mobile phones: */
    .body {
      width: auto;
    }
    .top-bar-right {
        width: 100%;
        margin-top: 10px;
        padding-left: 50px;
    }
    .nav-button {
      width: 33%;
    }
    .container {
      width: 350px;
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 15px;
    }
    .listItem-container {
      width: 350px;
      margin-left: 5px;
      margin-right: 5px;    
    } 
    .action-container {
      margin: 0 auto;
      width: 265px;
      padding-left: 40px;
    }
    .userListItem-container {
      width: 350px;
      margin-left: 5px;
      margin-right: 5px;
    }
    .user-search-input {
      width: 365px;
    }
}