.login-container {
    margin: 20px;
    width: auto;
    background-color: white;
    align-content: center;
    width: 25%;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

a, a:visited{
     color: blue;
}